* {
  padding: 0 47px;
  font-family: "Merriweather", serif;
}
.banner-head {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(..//images/Banner\ Image.png);
  width: 1200px;
  height: 600px;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.banner-head-title {
  text-align: center;
  padding: 260px 500px 0;
}
.banner-head-title-description {
  font-weight: 900;
}
