* {
  padding: 0 65px;
}
.banner-head {
  font-family: "Merriweather", serif;
  text-align: center;
  color: #fff;
  background-image: url(..//images/Banner\ Image.png);
  width: 1200px;
  height: 600px;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.banner-head-title {
  text-align: center;
  padding: 260px 500px 0;
}
.banner-head-title-description {
  font-weight: 900;
}
