/* shared styles */
* {
  padding: 0 47px;
  font-family: "Merriweather", serif;
}
/* banner styles*/
.banner-head {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(..//images/Banner\ Image.png);
  width: 1200px;
  height: 600px;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.banner-head-title {
  text-align: center;
  /* padding: 260px 500px 0; */
  padding-top: 170px;
  padding-bottom: -150px;
  font-size: 28px;
}
.banner-head-title-description {
  font-weight: 900;
  font-size: 58px;
}
/* section styles */
.section-container {
  margin: 0 170px;
}
.discount-details {
  text-align: center;
}
.discount-title {
  font-size: 70px;
  font-weight: 700;
  color: red;
}
.discount-description {
  font-weight: 500;
  color: tomato;
}
.discount-category {
  color: #070211;
  font-size: 44px;
  font-weight: 700;
}
